<mat-toolbar color="primary">
  <span>Prueba Tecnica Frontend</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="aboveMenu">Cliente</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item [routerLink]="['/mi-tienda/clientes']" routerLinkActive="router-link-active" >Listar clientes</button>
    <button mat-menu-item [routerLink]="['/mi-tienda/clientes/agregar']">Agregar cliente</button>
  </mat-menu>

 
  <button mat-button [matMenuTriggerFor]="beforeMenu">Producto</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item [routerLink]="['/mi-tienda/productos']">Listar productos</button>
    <button mat-menu-item [routerLink]="['/mi-tienda/productos/agregar']">Agregar producto</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="belowMenu">Orden</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item [routerLink]="['/mi-tienda/ordenes']">Listar Ordenes</button>
    <button mat-menu-item [routerLink]="['/mi-tienda/crear-orden']">Realizar orden </button>    
  </mat-menu>

</mat-toolbar>

<div class="container main-container">
  <router-outlet></router-outlet>
</div>

